html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
	font-size: 100%;
}
img, fieldset {
	border: 0;
}
img {
	max-width: 90%;
	height: auto;
	width: auto\9;
}
::-moz-selection  {
	background-color:#2f4559;
}

::-webkit-selection  {
	background-color:#2f4559;
}
::selection 	{
	background-color:#2f4559;
}

a {
	outline: 0;
	color: #89A7BD;
	text-decoration: none;
}

a:hover 	{
	text-decoration: underline;
}

p a:hover  {
	color: #195093;
}

a:active {
	outline: none;
	position: relative;
	top: 0.125em;
}

.clearfix {
	clear: both;
}

.back  {
	padding-left: 0.625em;
}

.back a, .back a:visited {
	color: #0054A6;
}

body {
	background: rgba(16, 19, 30, 0.8); url(images/bg0.jpg) no-repeat top center;
    color: #cfcfd0;
    background-size: 100%;
	font-family: "Open Sans",sans-serif;
	font-stretch: normal;
	font-size: medium;
	-webkit-transition-property: font-size;
	-moz-transition-property: font-size;
	transition-property: font-size;
	-webkit-transition-duration: 0.5s, 0.5s;
	-moz-transition-duration: 0.5s, 0.5s;
	transition-duration: 0.5s, 0.5s;
	-webkit-transition-timing function: linear, ease-in;
	-moz-transition-timing function: linear, ease-in;
	transition-timing function: linear, ease-in;
}

p {
	padding-top: 0.5em;
}

b {
	color: #E0E2EA;
}

.centered-text {
	text-align: center;
	text-transform: uppercase;
	font-size: 0.7em;
	color: #bbbbbb;
}

.centered-text-medium {
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	margin: 0em 0em 0.625em 0.625em;
}

.centered-text-normal {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}

#wrapper  {
	margin: 0.625em auto;
	max-width: 64em;
	width: 100%;
	background: rgba(16, 23, 30, 0.85);
	padding: 0.625em 0em;
	border: 0.125em solid #131829
}

header {
	padding: 0;
    position: relative;
	width: 100%;
	max-width: 750.000em;
    margin: auto;
}

.header {
  background: rgba(11, 12, 18, 0.94);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header .logo {
  padding-left: center;
}

/*HEADINGS */
h1, h2, h3, h4, h5, h6 {
    display: block;
	margin: 0.93em 0em 0.2em 0em;
	color: #D2D3F2;
	font-weight: bold;
}
h1 {
	font-size: 2em;
}

h2 {
    font-weight: normal;
	font-size: 1.7em;
	background: rgb(11, 12, 17, 0.5);
    border: 0.063em solid #0f1218;
    padding: 0.225em 2.188em 0.225em 0.313em;
}

h3 {
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    position: relative;
    padding: 1em 0em 0em 0.4em;
    text-shadow: 0 -0.063em 0.063em rgba(0,0,0,0.4);
    line-height: 2.5em;
    text-transform: uppercase;
    border-bottom: 0.063em solid rgba(53,86,129, 0.3);
}

h4 {
	font-size: 1.3em;
    padding: 0.7em 0em 0em 1em;
}

h5 {
	font-size: 1.1em;
	font-style: italic;
	padding: 0.33em 0em 0em 2.33em;
}

h6 {
	font-size: 0.68em;
    text-transform: uppercase;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
nav {
	background: rgba(11, 12, 18, 0.94);
	padding: 0;
	margin: 0;
}

nav a {
	color: #fff;
	display: block;
	float: left;
	padding: 0.625em;
}

nav a:visited {
	color: #f9f9f9;
}

nav a:hover {
	text-decoration: none;
	background: #194F92;
}

nav a:active	{
	position: relative;
	top: 0;
}

.left-col {
	width: 70%;
	float: left;
}

.left-col p a {
	color:#7D9CC2;
}

.left-col p a:hover {
	color:#55619D;
}

.black-bg {
	color:#fff;
	background-color: url(images/bg0.png) top center no-repeat;
	padding: 0em 0em 1.875em 1.875em;
}
.code-bg {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	font-weight: 700;
	font-size: 0.750em;
	color:#48EC56;
	background-color: rgb(2, 12, 21, 0.65);
	padding: 0.938em 0.938em 0.938em 0.938em;
	margin-top: 0.188em;
}

.selection-red {
	font-weight: 700;
	font-size: 1.000em;
	color:#940000;
	background-color: rgb(100, 99, 96, 0.2);
	padding: 0em 0em 0.938em 0.938em;
    text-align: center;
	margin-top: 0.188em;
}

.content-box {
	width: 90%;
	margin: auto auto 0.538em;
}

.content-box img {
	padding-top: 0.825em;
}

.box-left {
	margin: 0.938em 0.938em 0em 0em;
}

.box-left img {
	padding-top: 0.825em;
        float: left;
        padding: 0em 0.938em 0.938em 0em;
}

.box-right {
	margin: 0.938em 0.938em 0em 0em;
}

.box-right img {
	padding-top: 0.825em;
        float: right;
        padding: 0em 0.938em 0.938em 0.625em;
}

.big-text {
	font-size: 1.375em;
	line-height: 1.375em;
	margin-bottom: 0em;
	font-weight: 300;
	padding: 0em 0em 0.938em 0em;
	border: medium none;
	text-transform: uppercase;
	text-align: left;
	text-shadow: 0.063em 0.063em 0em rgba(0, 0, 0, 0.2);
	letter-spacing: 0.1em;
}

.white-bg {
	padding-top: 0em 0em 0.625em 1.875em ;
}

.front-text {
	line-height: 1.375em;
	margin: 0em 0em 0.938em 0em;
	font-weight: 300;
	font-family: "Open Sans Bold",sans-serif;
	padding-left: 0em;
	border: medium none;
	text-align: center;
	text-shadow: 0.063em 0.063em 0em rgba(0, 0, 0, 0.2);
	letter-spacing: 0.1em;
}

.tocitem {
	font-size:0.9em;
	line-height: 1.0;
}

.tocli {
	list-style-type: none;
}

.border {
  border: 0.063em solid #0f1218;
  padding: 0.625em;
  background:rgba(10, 20, 29, 0.3);
  font-weight: 400;
}

.border-top {
  background-color: #1B1F2D;
  border-top: 0.15em solid;
  padding-top: 0.625em;
  background:rgba(10, 20, 29, 0.3);
  font-weight: 400;
}

.border-bottom {
  background-color: #1B1F2D;
  border-bottom: 0.15em solid;
  padding-bottom: 0.625em;
  background:rgba(10, 20, 29, 0.3);
  font-weight: 400;
}

.border-right {
  background-color: #1B1F2D;
  border-right: 0.15em solid;
  padding-right: 0.625em;
  background:rgba(10, 20, 29, 0.3);
  font-weight: 400;
}

.border-left {
  background-color: #1B1F2D;
  border-left: 0.15em solid;
  padding-left: 0.625em;
  background:rgba(10, 20, 29, 0.3);
  font-weight: 400;
}

.panel {
   background: rgba(11, 12, 18, 0.1);
   color: #FFFFFF;
   padding: 0.500em;
   display: none;
}

.image-text {
	font-size: 0.850em;
	margin-top: 0em 0em 0.125em 0.750em;
}

.text-quote {
	font-style: italic;
	text-align: center;
	font-size: 0.950em;
	margin-bottom: 0.950em;
}

#featured {
	padding: 0.938em;
}

#latest	{
	padding: 0.938em;
}

#about {
	padding: 0.938em;
    color:#E8E8E8;
}

/* Footer */
#footer {
	margin: 0 auto;
	padding: 1.250em 0em;
	background: rgba(11, 12, 18, 0.94);
	color: #fff;
    text-align: center;
}

#footer p {
	margin: 0;
	text-align: center;
}

#footer a {
	text-decoration: none;
	color: #64B1F0;
}

#footer a:hover {
	text-decoration: inherit;
    color: #B0B8E3;
}

#tsc a {
	color: #000;
}

.navigation ul {
	background-color: #10131e;
	color:#ffffff;
	list-style-type: none;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
	width: 25.000em;
	margin: 0 auto;
}

.navigation li {
	background-color: #10131e;
	color:#ffffff;
	float: left;
	margin: 0 1.15em;
	border: 0;
}

.navigation a {
	color:#ffffff;
	text-decoration: none;
	border: 0;
}

.navigation {
	background-color: #10131E;
	list-style-type: none;
	text-align: center;
	border: 0;
}

/** Table**/
.tablestyle {
  border-collapse: collapse;
  width: 100%;
}

.tablestyle  td, .tablestyle th {
  border: 0.063em solid #2a3b4d;
  padding: 0.375em;
}

.tablestyle tr:nth-child(even){
background-color: #1d2334;
}

.tablestyle  tr:hover {
background-color: #195093;
}

.tablestyle th {
  padding: 0em 0em 0.750em 0.750em;
  text-align: left;
  background-color: #10131e;
  color: white;
}

/** Columns **/
.column-wrap{
	width:100%;
}

.column2{
	float:left;
	width:50%;
}

.filter {
	margin-bottom: 1.563em;
	color: #D4BE1D;
	font-weight: 400;
	font-family: sans-serif;
	word-wrap: break-word;
	line-height: 1.4;
	vertical-align: baseline;
}

.filter-name {
	padding-left: 1.250em;
    color: #1DD425;
}

.filter-property {
	padding-left: 3.125em;
	font-size: 0.750em;
}
.filter-value {
	display:inline-block;
	color: #F5073A;
	font-size: 8;
}
